{{!< main}}

<div class="container mt-4">
    <h1>SQLite Shell</h1>
    <div class="card">
        <div class="card-body">
            <p>You can use the SQLite shell below:</p>
            <pre>
                <code>
                    sqlite3 ../../database/data/yueDB.db
                </code>
            </pre>
        </div>
    </div>
</div>